.ads-and-weather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 600px;
  height: 250px;
  margin: 16px 0 0 300px;
}

.ads-and-weather__item {
  width: 270px;
  padding: 8px 4px 4px 20px;
}

.heading__link {
  color: rgb(0, 84, 185);
}

.ads-and-weather__heading {
  margin: 4px 0 10px 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.fa-cloud {
  color: rgb(129, 175, 249);
}

.temperature-info {
  color: rgb(0,0,0);

  font-size: 13px;
  line-height: 16.25px;
}

.weather__temperature {
  color: rgb(0,0,0);
}

.ads-and-weather__link {
  color: rgb(0,0,0);

  font-size: 12.5px;
  line-height: 16.25px;
}

.ads-and-weather__link-b {
  font-weight: 700;
}

.ads-and-weather__li {
  margin-bottom: 8px;

  line-height: 16.25px;
}

.ads__list {
  margin: 0;
}


.afisha__link {
  margin-right: 10px;

  color: rgb(0,0,0);

  font-size: 13px;
}

.afisha__info {
  color: rgb(153, 153, 153);

  font-size: 13px;
}
