.header {
  display: flex;

  height: 58px;
  margin-top: 10px;
  padding: 0 10px 0 40px;

  font-size: 12px;
}

.fa-location-arrow {
  margin: 0 5px 0 0;
}

.geo__link {
  margin-top: 10px;

  color: rgb(153, 153, 153);
}

.location {
  vertical-align: middle;

  line-height: 40px;
}

.nav__list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav__link {
  padding: 15px 25px 15px 0;

  color: black;
}


/* INPUT */

.location__search {
  display: none;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 50px;

  border: 1px solid rgb(137,137,137);
  border-radius: 3px;
  background-color: rgb(255,255,255);
}

#location__search_input {
  border: none;
  border-bottom: 1px solid rgb(137,137,137);
  border-radius: 2px;
  outline: none;
}
/* There's a specific file for mail form */
