.mail__form {
  width: 152px;
  height: 177px;
  padding: 12px 14px 12px 14px;

  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

/* Links styling */

.post__list {
  display: flex;

  margin: 0 0 17px 0;
  padding: 0;

  font-size: 12px;
}

.post {
  margin-right: 24px;

  color: rgb(0,0,0);
}

.last {
  padding-right: 2px;

  color: rgb(173,173,173);
}

.last:hover {
  color: rgb(242, 104, 120);
}

/* Inputs styling */

.mail__form-input {
  box-sizing: border-box;
  width: 97%;
  margin-bottom: 16px;

  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;

  font-size: 12.5px;
  line-height: 2em;
}

.mail__form-input:focus {
  box-sizing: border-box;
  margin-bottom: 15px;

  border-bottom: 2px solid rgb(255,223,58);
}

.mail__form-showpwd {
  position: absolute;
  top: 100px;
  right: 26px;

  color: rgb(153, 153, 153);
  border: none;
  background: none;

  font-size: 18px;
}

/* Checkbox + login options + login button */

.span {
  width: 6px;
}

.mail__form-checkbox {
  font-family: Verdana, Arial, Helvetica, 'sans-serif';
  font-size: 11px;
}

.mail__form-otherdevice {
  height: 15px;
}

.mail__log-options {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 162px;
  padding-top: 16px;
}

.mail__log-icon {
  margin-right: 6px;
  padding: 0;

  text-align: center;

  color: lightgrey;

  font-size: 19px;
}

.mail__log-login {
  display: block;

  width: 64px;
  height: 32px;
  padding: 0;

  border: none;
  border-radius: 3px;
  outline: none;
  background: none;
  background-color: rgb(232,232,232);

  font-size: 15px;
  font-weight: 400;
}
