@import url('header.css');
@import url('footer.css');
@import url('ads-and-weather.css');
@import url('top-section.css');
@import url('main-nav.css');
@import url('mail-form.css');
@import url('mediaqueries.css');


body {
  margin: 0;

  letter-spacing: -.01em;

  color: rgb(0,0,0);

  font-family: Verdana, Arial, Helvetica, 'sans-serif';
}

.link {
  transition: .2s ease;
  text-decoration: none;

  font-family: Verdana, Arial, Helvetica, 'sans-serif';
}

.link:hover {
  color: red;
}

.list {
  padding: 0;

  list-style-type: none;
}
