.nav-main {
  display: flex;

  margin: 15px 0 10px 0;
  padding-left: 0;
}

.nav-main__link {
  margin-right: 20px;

  color: rgb(0, 84, 185);

  font-size: 14px;
}

.main-nav-input {
  position: relative;

  width: 685px;
  height: 30px;
  padding-left: 10px;

  border: 2px solid rgb(255,223,58);
  border-right: 0;
  outline: none;

  font-size: 16px;
}

.search__assist {
  display: block;

  height: 36px;
  margin: 0 -2px 0 -2px;
  padding-right: 10px;

  cursor: pointer;

  color: rgb(200,200,200);
  border: none;
  border-top: 2px solid rgb(255,223,58);
  border-bottom: 2px solid rgb(255,223,58);
  background-color: rgb(255,255,255);

  font-size: 18px;
}

.search__assist:hover {
  transition: .2s ease;

  color: rgb(173,173,173);
}
.search {
  height: 36px;
  margin: 0;
  padding: 0 25px 0 25px;

  cursor: pointer;

  border: none;
  background-color: rgb(255,223,58);

  font-size: 16px;
}

.triangle {
  width: 0;
  height: 0;

  border-width: 18px 0 18px 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(255,223,58);
}

.logo {
  flex-shrink: 0;

  width: 140px;
  height: 100px;
  margin-top: 16px;

  background-image: url('https://yastatic.net/www/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg');
  background-repeat: no-repeat;
  background-size: 140px 100px;
}

.main-nav__search-form {
  display: flex;
}

.search-sample {
  margin: 5px 0 5px 0;

  font-family: arial;
  font-size: 13px;
}

.search-sample__link {
  color: rgb(153, 153, 153);

  font-family: arial;
  font-size: 13px;
}


.main-nav {
  display: flex;
  align-items: center;

  margin: 0 0 0 180px;
}
