@media (max-width: 1000px) {
  .news-section {
    margin-left: 20px;
  }

  .main-nav {
    margin-left: 30px;
  }

  .main-nav-input {
    width: 500px;
  }

  .ads-and-weather {
    margin-left: 20px;
  }
}
