.top-section {
  display: flex;

  font-family: Verdana, Arial, Helvetica, 'sans-serif';
}

.news-section {
  flex-shrink: 0;

  margin: 0 230px 15px 294px;
  padding-left: 26px;
}

.news {
  padding-left: 0;
}


.news-block__time {
  color: rgb(153, 153, 153);

  font-size: 11px;
}

.news-block__time-link {
  text-decoration: none;

  color: rgb(153, 153, 153);

  font-size: 11px;
}

.news-block__link {
  color: rgb(102,159,228);

  font-size: 18px;
  line-height: 22.5063px;
}

.news-block__link-active {
  color: rgb(92,71,188);
}

.news-block__main {
  font-size: 12.5px;
  line-height: 1.25;
}

.news__link {
  color: black;
}

.news__linki::before {
  position: absolute;
  left: -14px;

  content: '•';

  font: .75em Verdana,sans-serif;
}

.news__linki {
  padding-bottom: 8px;
}


.news-block__currency {
  display: flex;

  margin-top: -8px;

  font-size: 12.5px;
}

.currency__tooltip-item {
  position: absolute;
  z-index: 1;

  display: block;
  visibility: hidden;

  margin-top: 5px;
  padding: 3px;

  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(255,255,255);
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);

  font-size: 12px;
}

.curency__item {
  position: relative;

  padding-right: 10px;
}

.currency__link {
  margin-right: 6px;

  letter-spacing: 1px;

  color: black;

  font-size: 11px;
  font-weight: 700;
}

.currency__tooltip-target1 {
  margin: -2px -2px -2px 7px;
  padding: 3px 0 3px 0;

  color: rgb(153, 153, 153);
}

.fa-ellipsis-h {
  position: relative;

  color: rgb(100, 219, 221);
}

.currency__link:hover {
  color: rgb(255,0,0);
}

.curency__item:hover .currency__tooltip-item {
  visibility: visible;

  transition: .2s ease;
}

.currency__modal-window {
  position: absolute;
  z-index: 2;
  left: 300px;

  visibility: hidden;

  width: 516px;
  height: 211px;
  padding: 22px 25px 22px 25px;

  background-color: white;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);

  font-family: Arial;
}

.currency__modal-target {
  position: relative;

  cursor: pointer;
}

.currency__modal:hover .currency__modal-window {
  visibility: visible;
}

.fa-ellipsis-h {
  position: relative;
}

.fa-ellipsis-h:hover {
  transition: .2s ease;

  color: rgb(109, 107, 107);
}

.modal-window__content-block {
  display: flex;
  flex-wrap: wrap;
}

.modal-window__currency-info {
  flex-shrink: 0;

  margin: 0 0 12px 0;
}

.modal-window__currency-info-1 {
  margin-right: 80px;
}


.modal_icon {
  color: rgb(217, 219, 221);

  font-size: 16px !important;
}

.modal_icon:hover {
  cursor: pointer;

  color: rgb(0, 0, 0);
}

.modal-window__buttons {
  text-align: right;
}

.modal-window__heading1 {
  margin: 4px 0 10px 0;

  font-size: 19.5px;
  font-weight: 400;
}

.currency-info__heading {
  margin: 0 0 6px 1px;

  font-size: 13px;
  font-weight: 700;
}

.modal-window__buttons {
  flex-grow: 1;
  justify-content: flex-end;
}


.currency__hint {
  color: rgb(153, 153, 153);

  font-size: 12px;
}

.currency-info__todaysvalue {
  text-align: right;
}

.currency__value {
  padding-left: 15px;

  font-size: 13px;
}
